@import "~antd/dist/antd.css";

.logo {
  height: 32px;
  margin: 16px;
}

.site-layout .site-layout-background {
  background: rgb(0, 0, 0);
  min-height: 60vh;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.folderStyle {
  font-size: 40px;
  margin-left: -900px;
}

.btn_style_normal {
  font-size: large;
  margin-left: 100px;
}

.leftIcon {
  margin-left: 5px;
}

.rightIcon {
  color: grey;
  margin-left: 25px;
}

.appIcon {
  color: grey;
  margin-left: 200px;
}

.verticalIcon {
  color: grey;
  margin-left: 8px;
}

.picleftIcon {
  color: grey;
  margin-left: 130px;
}

.shareIcon {
  color: grey;
  margin-left: 20px;
}

.tagIcon {
  color: grey;
  margin-left: 20px;
}

.searchIcon {
  margin-left: 25px;
}

.footerIcon {
  text-align: center;
  background-color: black;
  color: white;
}

.headerClass {
  text-align: left;
  color: white;
  font-size: 25px;
  background-color: black;
}

@media (min-width: 540px) {
  .screenSize {
    height: 90%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 85px;
    border-radius: 250px;
  }
}
.body {
  display: flex;
  justify-content:space-around;
}